/* Imports */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Functions */
/* imports */
/* Functions */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Parent */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  font-family: "Montserrat", sans-serif;
  background-color: #6EC6CA;
  /* Children */
}

.filter .filter-result, .filter .filter-sort, .filter .filter-size {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter h3 {
  color: #055B5C;
}

.filter select {
  outline: none;
  border: none;
  padding: .4rem;
  border-radius: 5px;
}

.filter option {
  border: none;
}

/* imports */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Functions */
/* Parent */
.cart-empty {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
  background-color: #6EC6CA;
  font-family: "Montserrat", sans-serif;
  border-bottom: 3px dashed #FFFFFF;
  /* Children */
}

.cart-empty .cart-empty-img {
  width: 128px;
  height: 128px;
  background: url("../icons/box.png");
  background-position: center;
  background-size: cover;
  -webkit-animation: bounce 1s infinite linear alternate;
          animation: bounce 1s infinite linear alternate;
}

.cart-empty h3 {
  font-family: "Dancing Script", cursive;
}

/* Parent */
.cart-full {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.cart-full h3 {
  text-align: center;
}

/* Parent */
.cart .cart-items {
  list-style: none;
}

.cart .cart-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  color: #055B5C;
  margin: 2rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Children */
}

.cart .cart-items li img {
  width: 5rem;
  height: auto;
}

.cart .cart-items li .cart-items-description {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6EC6CA;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart .cart-items li .cart-items-description .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-items li .cart-items-description .left p:first-child {
  font-size: .8rem;
  width: 50%;
}

.cart .cart-items li .cart-items-description .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-items li .cart-items-description .right .remove-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background: url("../icons/remove.png");
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.cart .cart-items li .cart-items-description .right .remove-btn:hover {
  background: url("../icons/remove_hover.png");
}

/* Parent */
.cart-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Children */
}

.cart-payment .total {
  font-family: "Dancing Script", cursive;
}

.cart-payment .payment-btn {
  cursor: pointer;
  background-color: #055B5C;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: .8rem;
  border-radius: 100px;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.cart-payment .payment-btn:hover {
  color: #6EC6CA;
}

/* Animations */
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate(0px, -15px);
            transform: translate(0px, -15px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translate(0px, -15px);
            transform: translate(0px, -15px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/* imports */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Functions */
/* Parent */
.form-container {
  width: 100%;
  height: auto;
  outline: none;
}

/* General */
html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > #root {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

h3 {
  color: #055B5C;
}

.pink {
  color: #CCA8D8;
}

.blue {
  color: #6EC6CA;
}

.grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: (1fr)[8];
      grid-template: repeat(8, 1fr)/repeat(8, 1fr);
  /* Children */
}

.grid-container main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  background-color: #FFFFFF;
  /* Child */
}

.grid-container main .content {
  width: 100%;
  height: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2 / span 6;
  /* Little Children */
}

.grid-container main .content .products-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.grid-container main .content .sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #CCA8D8;
}

.grid-container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 7;
  -ms-grid-row-span: 8;
  grid-row: 7 / span 8;
  background-color: #8474A1;
}

/* Imports */
/* Imports */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Functions */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  /* Children */
}

.products li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  height: 50rem;
  /* Little CHild */
}

.products li .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6EC6CA;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
  /* Child of Product */
}

.products li .product img {
  max-width: 25rem;
}

.products li .product a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #055B5C;
  text-align: center;
}

.products li .product:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.products li .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 2rem 0;
  background-color: #8474A1;
}

.products li .product-price h3 {
  color: #FFFFFF;
}

.products li .product-price button {
  cursor: pointer;
  background-color: #055B5C;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: .8rem;
  border-radius: 100px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.products li .product-price button:hover {
  color: #6EC6CA;
}
/*# sourceMappingURL=App.css.map */