/* Imports */
@import './variables.scss';
@import './Functions.scss';
@import './Filter.scss';
@import './Cart.scss';
@import './Form.scss';
@import './Modal.scss';

/* General */
html {
    font-size: 16px;
    box-sizing: border-box;
}

body > #root {
    height: 100vh;
    font-family: $roboto;
}

h3 {
    color: $darkBlue;
}

.pink {
    color: $lightPurple;
}

.blue {
    color: $lightBlue;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    
    /* Children */
    main {
        grid-column: 1 / span 8;
        grid-row: 2 / span 4;
        background-color: $white;

        /* Child */
        .content {
          @include sizing(100%, 100%);
          height: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          grid-column: 1 / span 6;
          grid-row: 2 / span 6;

          /* Little Children */
          .products-container {
            flex: 3;
          }

          .sidebar {
            flex: 1;
            background-color: $lightBlue;
          }
        }
    }

    footer {
        @include flexBox(center, center);
        grid-column: 1 / span 8;
        grid-row: 7 / span 8;
        background-color: $darkPurple;
    }
}

/* Imports */
@import './Products.scss';