/* Imports */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Functions */
/* imports */
/* Functions */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Parent */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
  font-family: "Montserrat", sans-serif;
  background-color: #6EC6CA;
  /* Children */
}

.filter .filter-result, .filter .filter-sort, .filter .filter-size {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter h3 {
  color: #055B5C;
}

.filter select {
  outline: none;
  border: none;
  padding: .4rem;
  border-radius: 5px;
}

.filter option {
  border: none;
}

/* General */
html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > #root {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.pink {
  color: #CCA8D8;
}

.grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
  -ms-grid-columns: (1fr)[8];
      grid-template: repeat(8, 1fr)/repeat(8, 1fr);
  /* Children */
}

.grid-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  background-color: #8474A1;
  /* Little Child */
}

.grid-container header a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: .5rem;
}

.grid-container main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / span 4;
  background-color: #FFFFFF;
  /* Child */
}

.grid-container main .content {
  width: 100%;
  height: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2 / span 6;
  /* Little Children */
}

.grid-container main .content .products-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.grid-container main .content .sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #CCA8D8;
}

.grid-container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 7;
  -ms-grid-row-span: 8;
  grid-row: 7 / span 8;
  background-color: #8474A1;
}

/* Imports */
/* Imports */
/* Variables */
/* Colors */
/* Fonts */
/* Design */
/* Transitions */
/* Functions */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  /* Children */
}

.products li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  height: 50rem;
  /* Little CHild */
}

.products li .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6EC6CA;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
  /* Child of Product */
}

.products li .product img {
  max-width: 25rem;
}

.products li .product a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #055B5C;
  text-align: center;
}

.products li .product:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.products li .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 2rem 0;
  background-color: #8474A1;
}

.products li .product-price h3 {
  color: #FFFFFF;
}

.products li .product-price button {
  background-color: #055B5C;
  border: none;
  outline: none;
  padding: .8rem;
  border-radius: 100px;
  cursor: pointer;
  color: #FFFFFF;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.products li .product-price button:hover {
  color: #6EC6CA;
}
/*# sourceMappingURL=App.css.map */