/* imports */
@import './Variables.scss';
@import './Functions.scss';

/* Parent */
.cart-empty {
    @include sizing(100%, auto);
    @include flexBox(center, center);
    flex-direction: column;
    padding: 2rem 0;
    background-color: $lightBlue;
    font-family: $montserrat;
    border-bottom: 3px dashed $white;

    /* Children */
    .cart-empty-img {
        @include sizing(128px, 128px);
        background: url('../icons/box.png');
        @include backgroundImg(center, cover);
        animation: bounce 1s infinite linear alternate;
    }

    h3 {
        font-family: $dancingScript;
    }
}

/* Parent */
.cart-full {
    @include sizing(100%, auto);
    @include flexBox(center, center);
    font-family: $montserrat;

    h3 {
        text-align: center;
    }
}

/* Parent */
.cart {
    .cart-items {
        list-style: none;
        li {
            @include flexBox(space-between, center);
            @include sizing(90%, auto);
            font-family: $montserrat;
            color: $darkBlue;
            margin: 2rem 0;
            flex-direction: row;
            
            img {
                @include sizing(5rem, auto);
                border-radius: 5px;
            }
            /* Children */
            .cart-items-description {
                @include sizing(100%, 5rem);
                @include flexBox(center, center);
                background-color: $lightBlue;
                transition: $medium;
                border-radius: 0px 5px 5px 0px;
                flex-direction: row;
                
                &:hover {
                    box-shadow: $lightShadow;
                }
                .left {
                    @include flexBox(space-evenly, center);
                    p:first-child {
                        font-size: .8rem;
                        width: 50%;
                    }   
                }

                .right {
                    @include flexBox(center, center);
                    .remove-btn {
                        @include sizing(32px, 32px);
                        @include removeBtn;
                        background: url('../icons/remove.png');
                        transition: $fast;
        
                        &:hover {
                            background: url('../icons/remove_hover.png');
                        }
                    }
                }
            }
        }
    }
}

/* Parent */
.cart-payment {
    @include flexBox(space-evenly, center);
    flex-direction: row;

    /* Children */
    .total {
        font-family: $dancingScript;
    }

    .payment-btn {
        @include btn;
        transition: $fast;

        &:hover {
            color: $lightBlue;
        }
    }
}

/* Animations */

@keyframes bounce {
    from {
        transform: translate(0px, -15px);
    }
    to {
        transform: translate(0px, 0px);
    }
}