/* Functions */
@mixin flexBox ($x, $y) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin sizing ($width, $height) {
  width: $width;
  height: $height;
}

@mixin btn {
    cursor: pointer;
    background-color: $darkBlue;
    color: $white;
    border: none;
    outline: none;
    padding: .8rem;
    border-radius: 100px;
}

@mixin removeBtn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

@mixin select {
  outline: none;
  border: none;
  padding: .4rem;
  border-radius: 5px;
}

@mixin backgroundImg ($position, $size) {
  background-position: $position;
  background-size: $size;
}