/* Variables */

/* Colors */
$lightPurple: #CCA8D8;
$darkPurple: #8474A1;
$lightBlue: #6EC6CA;
$mediumBlue: #08979D;
$darkBlue: #055B5C;
$white: #FFFFFF;

/* Fonts */
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

/* Design */
$lightShadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$borderShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

/* Transitions */
$fast: 150ms linear;
$medium: 250ms ease;